---
layout: job_page
title: "Engineering Manager - CI/CD"
---

The Engineering Manager, CI/CD, directly manages the developers that develop
CI/CD features for GitLab.

See [Engineering Manager](/roles/engineering-manager/) for more details.

## Hiring Process

Applicants for this position can expect the hiring process to follow the order
below. Please keep in mind that applicants can be declined from the position
at any stage of the process. To learn more about someone who may be conducting
the interview, find her/his job title on our [team page](/team).

* Selected candidates will be invited to schedule a 30 minute [screening call](/handbook/hiring/#screening-call) with our Recruiting team
* Next, candidates will be invited to schedule a 45 minute first interview with a member of the CI/CD team
* Next, candidates will be invited to schedule a 45 minute second interview with the Director of Backend
* Next, candidates will be invited to schedule a 45 minute third interview with our VP of Engineering
* Successful candidates will subsequently be made an offer via email

Additional details about our process can be found on our [hiring page](/handbook/hiring).


<%= partial "includes/apply_and_about" %>
