@import "variables";

.hire-us {
  background: url("/images/bg/bg_consultancy.png") no-repeat center center;
  background-color: $color-primary;
  color: $color-white;
  font-weight: 300;
  padding-top: 200px;
  min-height: 800px;
  background-position: 30% 100%;

  small {
    color: $color-white;
  }

  .btn-default {
    background-color: transparent;
    border-color: $color-white;
    color: $color-white;
    margin-top: 20px;
    animation-delay: .5s;
  }
}

.wrapper {
  background-color: $consultancy-bg-color;
}

// scss-lint:disable all
.mktoLabel {
  color: $color-white;
}

#consultancy-form {
  background-color: #272120;
}
// scss-lint:enable all
