---
layout: job_page
title: "Junior Designer"
---

GitLab is looking for a motivated and creative designer to join our marketing team. As a junior designer for GitLab you will be responsible for assisting our lead designer in establishing and maintaining a cohesive visual language for the GitLab brand across all channels. Projects will range from the GitLab website, diagrams and infographics, to swag, digital ads, and print collateral. Our ideal candidate has a strong design skill-set, takes direction openly and positively, and is very detail oriented.

## Responsibilities

- Assist in the redesign of the [GitLab website](https://about.gitlab.com/).
- Build and maintain slide decks for various events and presentations.
- Conceptualize and design landing pages for various campaigns and GitLab features.
- Create, update, and maintain diagrams and infographics on the GitLab website and [Documentation](/documentation) pages.
- Assist in the conceptualization and design of event and swag items — such as t-shirts, stickers, banners, and conference booths.
- Create web advertisements for webcasts, landing pages, partnerships, and feature releases.

## Requirements

- Degree in graphic design or related field.
- 2-3 years experience in marketing, web and print design, and branding is preferred.
- Web design best practices (knowing the limitations and possibilities while keeping the user in mind).
- Experience creating custom icons for the web.
- Strong conceptual and user-experience focused mindset.
- Able to iterate quickly from concept and mockups to pixel-perfect design.
- Print design best practices (CMYK and Pantone colors, prepping files for print).
- Comfortable working very collaboratively on projects, as well as independently.
- Illustration experience is a plus.
- Experience with HTML / CSS is also a plus.
- You share our [values](/handbook/values), and work in accordance with those values.


<%= partial "includes/apply_and_about" %>
