---
layout: job_page
title: "Security"
---

## Security Engineer Roles at GitLab

Security Engineers at GitLab work on securing our product and on internal security. On the product side, this includes the open source version of GitLab, the enterprise editions, and the GitLab.com service. Security Engineers work with peers on cross-functional teams dedicated to areas of the product. They also work together with product managers, developers, and the infrastructure teams to solve common goals.


### Security Engineer

* Leverage understanding of fundamental security concepts
* Triages/handles basic security issues
* Be positive and solution oriented
* Good written and verbal communication skills
* Constantly improve product security


### Senior Security Engineer

The Senior Security Engineer role extends the [Associate Security Engineer](#associate-security-engineer) role.

* Leverages security expertise in at least one specialty area
* Triages and handles/escalates security issues independently
* Conduct security architecture reviews and makes recommendations
* Great written and verbal communication skills
* Screen security applicants during hiring process

***

A Senior Security Engineer may want to pursue the [security engineering management track](/roles/security-management) at this point. See [Engineering Career Development](/handbook/engineering/career-development) for more detail.

***


### Staff Security Engineer

The Staff Security Engineer role extends the [Senior Security Engineer](#senior-security-engineer) role.

* Recognized security expert in multiple specialty areas, with cross-functional team experience
* Make security architecture decisions
* Provide actionable and constructive feedback to cross-functional teams
* Implement security technical and process improvements
* Exquisite written and verbal communication skills
* Author technical security documents
* Author questions/processes for hiring and screening applicants
* Write public blog posts and represent GitLab as a speaker at security conferences


## Hiring Process

Applicants for this position can expect the hiring process to follow the order below. Please keep in mind that applicants can be declined from the position at any stage of the process. To learn more about someone who may be conducting the interview, find her/his job title on our [team page](https://about.gitlab.com/team/).

- Qualified applicants receive a short questionnaire from our Recruiting team
- Selected candidates will be invited to schedule a 30 minute [screening call](https://about.gitlab.com/handbook/hiring/interviewing/#screening-call) with our Recruiting team
- Next, candidates will be invited to schedule an interview with Security Engineer
- Candidates will then be invited to schedule an interview with Director of Security
- Candidates will then be invited to schedule an additional interview with VP of Engineering
- Finally, candidates may be asked to interview with the CEO
- Successful candidates will subsequently be made an offer via email

As always, the interviews and screening call will be conducted via a video call.
See more details about our hiring process on the [hiring handbook](/handbook/hiring).


<%= partial "includes/apply_and_about" %>
